.container {
    display: inline-block;
    position: relative;
    margin-left: auto;
  margin-right: auto;
}
.container .text {
    z-index: 1;
    position: absolute;
    text-align: left;
    margin: 0 auto;
    left: 300px;
    right: 0;
    top: 30%;
    width: 700px;
}

nav img{
  width: 100px;
}

figure img{
  width: 100%;
}

figure{
  max-width: 400px;
}

#menu img{
  width: 30px;
}

#menu {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 70px;
    height: 100%;
    margin: 0 0 0 0;
    text-align: center;
    background-color: #d3b8a3;
  	z-index: 2;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    font-size: 0.8em;
  }


#menu li {
    margin: 0;
    padding: 20px;
    padding-top: 60px;
    vertical-align: middle;
  }

#menu a {
    text-decoration: none;
	   color: inherit;
  }

nav {
  text-align: center;
}
h4 {
  text-align: center;
}

a:link, a:visited, a:hover, a:focus, a:active{
  color: #93725e;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

ol, ul {
    list-style: none;
}
li {
    display: inline-block;
    padding: 20px 0 20px;
    vertical-align: middle;
}

a {
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}
a {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #93725e;
}
a::before {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #93725e;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
a:active::before {
    background-color: #93725e;
}
a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

#section{
  padding: 70px;
  padding-left: 500px;
}

.sectionblack{
  background-color: #110f0f;
  color: #93725e;
}
